
td.board-cell {
	width: $cell-size;
	height: $cell-size;


	// ******************** LAYERS (PIECES, MARKS) *********************
	// Les layers d'une case permettent d'afficher des éléments au-dessus du plateau: pierres,
	// marqueurs...
	// Ils contiennent tous un élément `.visual` centré dans la case, contenant le visuel à
	// afficher.

	.layer {
		position: absolute;
		width: $cell-size;
		height: $cell-size;

		display: flex;
		justify-content: center;
		align-items: center;

		opacity: 0;
	}

	// Définit la taille des visuel (pièces, marqueurs...).
	// Paramètres:
	//   $ratio  Taille de l'élément visuel (entre 0 et 1) par rapport à la taille des cases
	@mixin visual-size($ratio) {
		width: $cell-size * $ratio;
		height: $cell-size * $ratio;
	}


	// **************************** PIECE *****************************
	// Style pour le layer affichant une pierre blanche ou noire.

	.layer.piece {
		.visual {
			@include visual-size(0.7);
			border-radius: 1000px;
			box-shadow: 0.1em 0.1em 0.3em 0 rgba(0,0,0,0.7);
		}
	}

	&.black, &.white {
		.layer.piece {
			opacity: 1;
		}
	}

	&.black .layer.piece .visual {
		background: url(images/black.png);
		background-size: contain;
	}

	&.white .layer.piece .visual {
		background: url(images/white.png);
		background-size: contain;
	}

	&.pending .layer.piece {
		opacity: 0.5;
	}

	// **************************** MARK *****************************
	// Style pour les layers de marqueurs (affichage des libertés, des chaines, des zones libres).

	.layer.liberty-mark, .layer.chain-mark, .layer.freezones-mark {
		transition: opacity 0.5s;

		&.visible {
			opacity: 1;
		}
	}

	.layer.liberty-mark {
		.visual {
			@include visual-size(0.18);

			transform: rotate(45deg);

			$color: #6cd466;
			background-color: $color;
			border: 1px solid darken($color, 20%);
		}
	}

	.layer.chain-mark {
		.visual {
			@include visual-size(0.22);

			border-radius: 1000px;
			background-color: #009de6;
		}
	}

	.layer.freezones-mark {
		.visual {
			@include visual-size(0.22);

			border-radius: 1000px;
			background-color: magenta;
		}
	}

	// **************************** MISC *****************************

	&.forbidden {
		cursor: not-allowed;
		&.black, &.white {
			cursor: default;
		}
	}

} // } td (case de plateau)
