
$cell-size: 2em;
$border-radius: 0.3em;
$goban-border-width: 0.2em;

#board {

	cursor: none;
	&, * {
		user-select: none;
	}

	div.goban {
		position: absolute;
		z-index: 1;

		padding: $cell-size / 2;

		border-radius: $border-radius;

		background: url(images/wood.jpg);
		background-size: $background-size;

		box-shadow: 0.2em 0.2em 0.3em 0 rgba(0,0,0,0.8);

		table {
			td {
				box-sizing: border-box;
				width: $cell-size;
				height: $cell-size;
				border: $goban-border-width solid black;
			}
		}
	}

	table.cells {
		position: relative;
		z-index: 2;

		top: $goban-border-width / 2;
		left: $goban-border-width / 2;

		@import 'board-cell';
	}
}

