
h3 {
	font-size: 1.2em;
	margin-bottom: 0.3em;
}

input, button {
	font-size: 1em;
}

.command {
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;

	.icon {
		position: relative;
		top: 0.15em;
		margin-right: 0.4em;
	}
}

.icon {
	$s: 1.5em;
	width: $s;
	height: $s;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon a.fa, .command .fa {
	text-decoration: none;
	color: $site-fg-color;

	transition: font-size 0.2s;
}

.icon a.fa:hover {
	font-size: 1.4em;
}

.command:hover .fa {
	font-size: 1.4em;
}

input[type=checkbox] {
	position: relative;
	top: 0.15em;
}

