
.icon {
	$s: 1.5em;
	width: $s;
	height: $s;

	display: flex;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
		color: $site-fg-color;

		&:hover {
			font-size: larger;
		}
	}
}

input[type=checkbox] {
	position: relative;
	top: 0.15em;
}

